#rooms {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.site-hero.inner:before {
    height: 60vh;
    min-height: 700px;
}

.site-hero-inner {
    height: 100vh;
    min-height: 700px;
}

.site-hero-inner .heading {
    font-size: 40px;
    font-family: "Playfair Display", times, serif;
    color: aliceblue;
    line-height: 1;
    font-weight: bold;
}

@media (max-width: 991.98px) {
    .site-hero-inner .heading {
        font-size: 40px;
    }
}

.site-hero-inner .sub-heading {
    font-size: 30px;
    font-weight: 200;
    color: #fff;
    line-height: 1.5;
}

@media (max-width: 991.98px) {
    .site-hero-inner .sub-heading {
        font-size: 18px;
    }
}

.section {
    padding: 5em 0;
}

@media (max-width: 991.98px) {
    .section {
        padding: 3em 0;
    }
}

@media (max-width: 991.98px) {
    .lead {
        font-size: 16px;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
}


/* Here is the style of the cards */

.team-area {
    padding-top: 5%;
    padding-bottom: 5%;
}

.single-team {
    background-color: #0d131d;
    margin-bottom: 10px;
}

.single-team p {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.img-area {
    height: 200px;
    margin-bottom: 10px;
}

.img-area img {
    display: block;
    height: 113%;
    width: 100%;
    object-fit: cover;
}

.img-area:hover img {
    transform: scale(1.1);
}

.img-area img {
    transition: all 0.4s ease 0s;
}

@media (max-width: 768px) {
    .img-area img {
        display: inline-block;
    }
}

.img-text {
    padding: 25px;
    color: #fff;
    display: flex;
    align-items: center;
}

.img-text h1 {
    margin: 0 0 5px;
    font-size: 30px;
    font-family: bignoodletitling;
    letter-spacing: 5px;
    flex: 1;
}

.img-text h5 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    color: crimson;
}
